# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Next.js & Build
.next/
out/
build/
dist/

# Env & Secrets
.env
.env.local
*.env
!.env.example

# Docker & OS
.DS_Store
Thumbs.db
*.log
minio_data/
postgres_data/
